.DS_Store

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/

# Firebase / Node
web/.env
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite / build
dist/

# Firebase emulators
firebase-debug.log
ui-debug.log
.firebase/
